.player__progress-bar {
    height: 2px;
    background-image: linear-gradient(to right, white 0px 0%, rgba(255, 255, 255, 0.3) 0% 1150px);
    align-self: start;
    grid-row: 2;
    grid-column: 3;
    width: 100%;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .player__progress-bar {
        width: calc(561/1024*100vw);
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .player__progress-bar {
        width: calc(397/768*100vw);
        min-width: 480px;
        grid-column: 2/4;
    }
}