@import url(./__btn/links-list__btn.css);
@import url(./__item/links-list__item.css);

.links-list {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 181px;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 767px) {
    .links-list {
        width: calc(138/320*100vw);
        visibility: hidden;
    }
}