.section__list-item{
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2 /*22px*/;
    color: #000000;
    padding: 25px 0 0;
    margin: 0;
}

.section__list-item::before{
    content: "— " ;
    color: #000000;
    padding: 0;
    margin: 0;
}