.player__controls-envelope_state-of-player_unwrapped {
    width: calc(995/1234*100%);
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .player__controls-envelope_state-of-player_unwrapped {
        width: calc(750/1024*100vw);
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .player__controls-envelope_state-of-player_unwrapped {
        width: calc(494/721*100%);
    }
}