.player__timer {
    margin: 0;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: right;
    width: 48px;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
    .player__timer {
        font-size: 18px;
        line-height: 22px;
    }
}

@media screen and (max-width: 767px) {
    .player__timer {
        font-size: 14px;
        line-height: 19px;
        width: 38px;
    }
}