.main {
    padding: 100px 50px 10px;
    margin: 0 auto;
    max-width: 1260px;
    background-color: #ffffff;
    border-radius: 10px;
    position: relative;
    z-index: 10;
}

@media screen and (max-width: 420px) {
    .main {
        padding: 80px 20px 10px;
    }
}

