@import url(./__controls/player__controls.css);
@import url(./__play-button/player__play-button.css);
@import url(./__text/player__text.css);
@import url(./__track-title/player__track-title.css);
@import url(./__timer/player__timer.css);
@import url(./__switcher/player__switcher.css);
@import url(./__progress-bar/player__progress-bar.css);
@import url(./__controls-envelope/player__controls-envelope.css);
@import url(./__text-switcher/player__text-switcher.css);
@import url(./__text-window/player__text-window.css);
@import url(./_text-window-header/player__text-window-header.css);
@import url(./__track/player__track.css);
@import url(./__current-track-title/player__current-track-title.css);
@import url(./__current-track/player__current-track.css);
@import url(./__track-list/player__track-list.css);
@import url(./__clip-button/player__clip-button.css);
@import url(./__album-logo/player__album-logo.css);
@import url(./__track-content-btns/player__track-content-btns.css);
@import url(./__wrapper/player__wrapper.css);

.player {
        padding-bottom: 20px;
        margin: 0 25px;
}

@media screen and (max-width: 767px) {
        .player {
                z-index: 1;
                position: absolute;
                bottom: 0;
        }
    }
