.section__title {   
    font-family: Inter;
    font-style: italic;
    font-weight: 400;
    font-size: 50px;
    line-height: 1.2; /*61px;*/
    color: #000000;
    margin: 0;
    padding: 0 0 10px;
    text-transform: uppercase;
}