.form__check-label{
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2/*22px*/;
    color: #000000;
    padding: 34px 0 34px 41px;
    margin: 0;
    display: block;
    position: relative;    
    max-width: 200px;
}

