.player__text-window {
    width: calc(1150/1280*100vw);
    max-height: 104px;
    margin: 0 auto;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: scroll;
}

.player__text-window::-webkit-scrollbar {
    width: 2px;
}

.player__text-window::-webkit-scrollbar-track {
    background: rgba(243, 243, 243, 0.1);
    border-radius: 1px;
}

.player__text-window::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.3);
    transition: background .5s cubic-bezier(.27,.64,.81,.75);
    border-radius: 1px;
}

.player__text-window::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 1);
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .player__text-window {
        max-height: 96px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .player__text-window {
        width: calc(639/768*100vw);
        max-height: 96px;
    }
}