.player__text-window {
    max-height: 104px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: end;
    overflow: scroll;
    grid-column: 3/-1;
    grid-row: -1/-2;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .player__text-window {
        grid-column: 3/5;
        max-height: 100%;
        align-self: start;
    }
}

.player__text-window::-webkit-scrollbar {
    width: 2px;
    max-height: 100%;
}

.player__text-window::-webkit-scrollbar-track {
    background: rgba(243, 243, 243, 0.1);
    border-radius: 1px;
}

.player__text-window::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.3);
    transition: background .5s cubic-bezier(.27,.64,.81,.75);
    border-radius: 1px;
}

.player__text-window::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 1);
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .player__text-window {
        max-height: 96px;
        width: 500px;
        grid-column: 3;
    }
}

@media screen and (max-width: 767px) {
    .player__text-window {
        grid-row: 5;
        grid-column: 2;
        width: 240px;
    }
}