.list-switcher {
    background: transparent;
    width: 98px;
    height: 29px;
    border: white 2px solid;
    border-radius: 30px;
    color: white;
    font-size: 12px;
    line-height: 14.52px;
    transition: opacity .5s cubic-bezier(.27,.64,.81,.75);
}

.list-switcher:hover {
    opacity: .6;
}

@media screen and (min-width: 768px) {
    .list-switcher {
        visibility: hidden;
        display: none;
    }
}