.list-switcher {
    background: transparent;
    width: calc(98/320*100vw);
    height: calc(29/700*100vh);
    border: white 2px solid;
    border-radius: 30px;
    color: white;
    font-size: 12px;
    line-height: 14.52px;
}