.controls__name {
    margin: 0;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    align-self: baseline;
    white-space: nowrap; 
    overflow: hidden;
    width: 620px;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .controls__name {
        width: calc(620/895*100%);
    }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
    .controls__name {
        font-size: 18px;
        line-height: 21.78px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
    .controls__name {
        width: calc(567/639*100%);
    }
}

@media screen and (max-width: 767px) {
    .controls__name {
        font-size: 14px;
        line-height: 19px;
        width: calc(192/240*100%);
    }
}