@import url(./__logo-img/header__logo-img.css);
@import url(./__project-name/header__project-name.css);

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
}